<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShardBrary</title>
</head>
<style>
    *{
        color: white;
        padding: 0;
        margin: 0;
    }
    body{
        background-color: grey;
    }
</style>
<body>
    
    <br>
    <%- body %> 
    <br>
    
</body>
</html>